<form action='/send' method='post'>
  <label for='to' name='To'>To</label>
  <input class='form-control' type='text' name='to'/ />
  <label for='to' name='subject'>Subject</label>
  <input class='form-control' type='text' name='subject' />
    <label for='to' name='Message'>Message</label>
  <input class='form-control' type='text' name='message' /><br/>

</br/>
   <input class='btn btn-primary' type='submit' value='Submit'/>
</form>
