<form class='form' action='/register' method='post'>
  <input class='form-control' type='text' name='fname' / />
  <input class='form-control' type='text' name='lname' / />
  <input class='form-control' type='email' name='email' / />
  <input class='form-control' type='password' name='password' / />
  <input class='btn btn-primary' type='submit' value='Submit'/>
</form>
